/* created by insta -> shivammaurya768 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(135deg, #f16ded, #f1607b);
}
#content{
    text-align: center;
    padding: 3vh;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
img{
    margin-bottom: 70px;
    height: 15vh;
    width: 15vh;
    border-radius: 10px;
    position: relative;
    left: 10vh;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
h1{
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    color:blue;
}
button{
    padding: 10px 20px;
    margin: 0 30px;
    font-size: 16px;
    border: none;
    position:relative;
    right:5vw;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#yesBtn{
    background-color: #4CAF50;
    color: white;
}
#yesBtn:hover{
    background-color: #45a049;
}
#noBtn{
    background-color: #f44336;
    color: white;
}
#noBtn:hover{
    background-color: #da190b;
}
/* resposive */
@media (max-width: 600px) {
    #content{
        padding: 2vh;
    }
    img{
        height: 18vh;
        width: 18vh;
        position: relative;
        left: 5vh;     
        margin-bottom: 10vh;
    }
    button{
        padding: 8px 16px;
        font-size: 14px;
        position:sticky;
        left: 14vh;
    }
    #yesBtn{
        margin-left: -100px;
        /* margin: 10px; */
    }
}